[submodule "arduino_cmake"]
	path = arduino_cmake
	url = https://github.com/mitikkak/arduino_cmake.git
[submodule "LiquidCrystal_I2C"]
	path = LiquidCrystal_I2C
	url = https://github.com/marcoschwartz/LiquidCrystal_I2C.git
[submodule "TinyGPS"]
	path = TinyGPS
	url = https://github.com/mikalhart/TinyGPS.git
[submodule "arduinoWebSockets"]
	path = arduinoWebSockets
	url = https://github.com/Links2004/arduinoWebSockets.git
[submodule "Adafruit-GFX"]
	path = Adafruit-GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "Adafruit-PCD8544"]
	path = Adafruit-PCD8544
	url = https://github.com/bbx10/Adafruit-PCD8544-Nokia-5110-LCD-library.git
[submodule "esp32-pcd8544"]
	path = esp32-pcd8544
	url = https://github.com/yanbe/esp32-pcd8544.git
[submodule "esp32-snippets"]
	path = esp32-snippets
	url = https://github.com/nkolban/esp32-snippets.git
[submodule "Adafruit-PCD8544-ShiftOut"]
	path = Adafruit-PCD8544-ShiftOut
	url = https://github.com/mitikkak/Adafruit-PCD8544-ShiftOut.git
