[submodule "arduino_cmake"]
	path = arduino_cmake
	url = https://github.com/mitikkak/arduino_cmake.git
[submodule "LiquidCrystal_I2C"]
	path = LiquidCrystal_I2C
	url = https://github.com/marcoschwartz/LiquidCrystal_I2C.git
[submodule "TinyGPS"]
	path = TinyGPS
	url = https://github.com/mikalhart/TinyGPS.git
[submodule "esp-http-parser"]
	path = esp-http-parser
	url = https://github.com/maximkulkin/esp-http-parser.git
